<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Ingestao_Producao_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# pip install pandera
import pandera as pa

In [ ]:
df = pd.read_excel('Producao_2019.xlsx', index_col = None, skiprows= 5, nrows= 27, sheet_name='area prod uf', usecols='A:G')

In [ ]:
df.rename(columns={"Unnamed: 0":"UF",
                   "Unnamed: 1":"HA_2019","Unnamed: 2":"HA_Maio","Unnamed: 3":"HA_Junho",
                   "Unnamed: 4":"ton_2019","Unnamed: 5":"ton_Maio","Unnamed: 6":"ton_Junho"}
          ,inplace=True)

In [ ]:
df["HA_2019"] = df["HA_2019"].apply(lambda x: x.replace(" ", ""))
df["HA_Maio"] = df["HA_Maio"].apply(lambda x: x.replace(" ", ""))
df["HA_Junho"] = df["HA_Junho"].apply(lambda x: x.replace(" ", ""))
df["ton_2019"] = df["ton_2019"].apply(lambda x: x.replace(" ", ""))
df["ton_Maio"] = df["ton_Maio"].apply(lambda x: x.replace(" ", ""))
df["ton_Junho"] = df["ton_Junho"].apply(lambda x: x.replace(" ", ""))

In [21]:
schema = pa.DataFrameSchema(
    columns = {
        "UF": pa.Column(pa.String),"HA_2019": pa.Column(pa.Float),"HA_Maio": pa.Column(pa.Float),"HA_Junho": pa.Column(pa.Float),"ton_2019": pa.Column(pa.Float),"ton_Maio": pa.Column(pa.Float),"ton_Junho": pa.Column(pa.Float)})

In [ ]:
### TO SQL
# pip install pyodbc
import pyodbc

In [ ]:
driver = 'SQL Server'
server = 'LOCALDB#A39D6D0C'
db = 'DesafioEF'
tcon = 'yes'
uname = 'sa'
pword = 'xxxxxxxxxx'

In [ ]:
dbconn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', host=server, database=db,
                      trusted_connection=tcon, user=uname, password=pword)

In [ ]:
cursor = dbconn.cursor()

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[Producao2019]("
"	 [UF] [varchar](1000) NULL,"
"    [HA_2019] [int] NOT NULL,"
"    [HA_Maio] [int] NOT NULL,"
"    [HA_Junho] [int] NOT NULL,"
"    [ton_2019] [int] NOT NULL,"
"    [ton_Maio] [int] NOT NULL,"
"    [ton_Junho] [int] NOT NULL")

In [ ]:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO DesafioEF.Producao2019 (UF,HA_2019,HA_Maio,HA_Junho,ton_2019,ton_Maio,ton_Junho) values(?,?,?,?,?,?,?)", row.UF,row.HA_2019,row.HA_Maio,row.HA_Junho,row.ton_2019,row.ton_Maio,row.ton_Junho)
dbconn.commit()
cursor.close()

In [ ]:
dbconn.close()