<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Ingestao_PIB_Cepea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# pip install pandera
import pandera as pa

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
# PIB-renda do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões de dez/2019
df_pib_renda = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 25, sheet_name='PIB', usecols='A:R')

In [ ]:
df_pib_renda.columns=list(range(0,len(df_pib_renda.columns)))

In [ ]:
df_pib_renda.drop(columns=[6,12],inplace=True)

In [ ]:
df_pib_renda.rename(columns={0:"ANO",1:"(A) Agronegócio Insumos",2:"(B) Agronegócio Agropecuária",3:"(C) Agronegócio Indústria",4:"(D) Agronegócio Serviços",5:"Agronegócio Total (A+B+C+D)",
           7:"(A) Agrícola Insumos",8:"(B) Agrícola Agropecuária",9:"(C) Agrícola Indústria",10:"(D) Agrícola Serviços",11:"Ramo Agrícola (A+B+C+D)",	
 	         13:"(A) Pecuário Insumos",14:"(B) Pecuário Agropecuária",15:"(C) Pecuário Indústria",16:"(D) Pecuário Serviços",17:"Ramo Pecuário (A+B+C+D)"},inplace=True)

In [ ]:
df_pib_renda['ANO'] = df_pib_renda['ANO'].astype(str).apply(lambda x: x.replace('.0',''))

In [ ]:
df_pib_renda.head(2)

    ANO  ...  Ramo Pecuário (A+B+C+D)
0  1996  ...                347188.33
1  1997  ...                330366.08

[2 rows x 16 columns]

In [ ]:
#  PIB do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões correntes
df_pib = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 36, sheet_name='PIB', usecols='A:AJ')

In [ ]:
df_pib.columns=list(range(0,len(df_pib.columns)))

In [ ]:
coluna = 1
while coluna <= 18:
  df_pib.drop(columns=[coluna],inplace=True)
  coluna += 1
df_pib.drop(columns=[24,30],inplace=True)

In [ ]:
df_pib.rename(columns={0:"ANO",19:"(A) Insumos",20:"(B) Agropecuária",21:"(C) Indústria",22:"(D) Serviços",23:"Agronegócio Total (A+B+C+D)",25:"(A) Insumos",26:"(B) Agropecuária",27:"(C) Indústria",
                      28:"(D) Serviços",29:"Ramo Agrícola (A+B+C+D)",31:"(A) Insumos",32:"(B) Agropecuária",33:"(C) Indústria",34:"(D) Serviços",35:"Ramo Pecuário (A+B+C+D)"},inplace=True)

In [ ]:
df_pib.head(2)

    ANO  (A) Insumos  ...  (D) Serviços  Ramo Pecuário (A+B+C+D)
0  1996      6177.21  ...      37675.32                 67873.86
1  1997      6913.34  ...      38387.46                 69576.98

[2 rows x 16 columns]

In [ ]:
db### TO SQL
import pyodbc

In [ ]:
driver = 'SQL Server'
server = 'LOCALDB#A39D6D0C'
db = 'DesafioEF'
tcon = 'yes'
uname = 'sa'
pword = 'xxxxxxxxxx'

In [ ]:
dbconn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', host=server, database=db,
                      trusted_connection=tcon, user=uname, password=pword)

In [ ]:
cursor = dbconn.cursor()

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[Producao2019]("
"	 [UF] [varchar](1000) NULL,"
"    [HA_2019] [int] NOT NULL,"
"    [HA_Maio] [int] NOT NULL,"
"    [HA_Junho] [int] NOT NULL,"
"    [ton_2019] [int] NOT NULL,"
"    [ton_Maio] [int] NOT NULL,"
"    [ton_Junho] [int] NOT NULL")

In [ ]:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO HumanResources.DepartmentTest (DepartmentID,Name,GroupName) values(?,?,?)", row.DepartmentID, row.Name, row.GroupName)
cnxn.commit()
cursor.close()

In [ ]:
cursor.close()
dbconn.close()