<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Ingestao_PIB_Cepea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# pip install pandera
import pandera as pa

In [3]:
pd.options.display.float_format = '{:.2f}'.format

In [4]:
# PIB-renda do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões de dez/2019
df_pib_renda = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 24, sheet_name='PIB', usecols='A:R')

In [5]:
df_pib_renda.columns=list(range(0,len(df_pib_renda.columns)))

In [6]:
df_pib_renda.drop(columns=[6,12],inplace=True)

In [7]:
df_pib_renda.head(3)

     0        1         2         3   ...       14        15        16        17
0  1996 31597.66 200211.78 514755.88  ... 43551.10 101885.95 192716.80 347188.33
1  1997 32826.00 199911.30 482894.84  ... 44418.38  95230.39 182271.67 330366.08
2  1998 31818.41 200969.74 455966.00  ... 43126.80  86650.67 167477.43 305610.21

[3 rows x 16 columns]

In [8]:
df_pib_renda.rename(columns={0:"ANO",1:"Agronegocio_Insumos",2:"Agronegocio_Agropecuaria",3:"Agronegocio_Industria",4:"Agronegocio_Servicos",5:"Total_Agronegocio",
           7:"Agricola_Insumos",8:"Agricola_Agropecuaria",9:"Agricola_Industria",10:"Agricola_Servicos",11:"Total_Ramo_Agricola",	
           13:"Pecuario_Insumos",14:"Pecuario_Agropecuaria",15:"Pecuario_Industria",16:"Pecuario_Servicos",17:"Total_Ramo_Pecuario"},inplace=True)

In [9]:
df_pib_renda['ANO'] = df_pib_renda['ANO'].astype(str).apply(lambda x: x.replace('.0',''))

In [10]:
df_pib_renda.tail(5)

     ANO  Agronegocio_Insumos  ...  Pecuario_Servicos  Total_Ramo_Pecuario
19  2015             69336.31  ...          218005.53            472116.23
20  2016             70245.63  ...          217080.72            474702.50
21  2017             65892.22  ...          209632.84            448752.64
22  2018             74975.03  ...          175274.67            399919.22
23  2019             79130.82  ...          225933.69            494755.93

[5 rows x 16 columns]

In [11]:
#  PIB do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões correntes
df_pib = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 24, sheet_name='PIB', usecols='A:AJ')

In [12]:
df_pib.columns=list(range(0,len(df_pib.columns)))

In [13]:
coluna = 1
while coluna <= 18:
  df_pib.drop(columns=[coluna],inplace=True)
  coluna += 1
df_pib.drop(columns=[24,30],inplace=True)

In [14]:
df_pib.rename(columns={0:"ANO",19:"Agronegocio_Insumos",20:"Agronegocio_Agropecuaria",21:"Agronegocio_Industria",22:"Agronegocio_Servicos",23:"Total_Agronegocio",
           25:"Agricola_Insumos",26:"Agricola_Agropecuaria",27:"Agricola_Industria",28:"Agricola_Servicos",29:"Total_Ramo_Agricola",	
           31:"Pecuario_Insumos",32:"Pecuario_Agropecuaria",33:"Pecuario_Industria",34:"Pecuario_Servicos",35:"Total_Ramo_Pecuario"},inplace=True)

In [19]:
df_pib.head(5)

    ANO  Agronegocio_Insumos  ...  Pecuario_Servicos  Total_Ramo_Pecuario
0  1996              6177.21  ...           37675.32             67873.86
1  1997              6913.34  ...           38387.46             69576.98
2  1998              7031.13  ...           37008.61             67532.73
3  1999              8302.19  ...           37496.85             70907.00
4  2000             10254.48  ...           40945.14             81021.00

[5 rows x 16 columns]

In [ ]:
### TO SQL
# pip install pyodbc
import pyodbc

In [ ]:
driver = 'SQL Server'
server = 'LOCALDB#A39D6D0C'
db = 'DesafioEF'
tcon = 'yes'
uname = 'sa'
pword = 'xxxxxxxxxx'

In [ ]:
dbconn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', host=server, database=db,
                      trusted_connection=tcon, user=uname, password=pword)

In [ ]:
cursor = dbconn.cursor()

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[PIB_Cepea_PIB_Renda]("
"	[ANO]						            [int] NOT NULL,"
"	[Agronegocio_Insumos]       [float] NOT NULL,"
"	[Agronegocio_Agropecuaria]  [float] NOT NULL,"
"	[Agronegocio_Industria]     [float] NOT NULL,"
"	[Agronegocio_Serviços]      [float] NOT NULL,"
"	[Total_Agronegócio]         [float] NOT NULL,"
"	[Agricola_Insumos]          [float] NOT NULL,"
"	[Agricola_Agropecuária]     [float] NOT NULL,"
"	[Agricola_Indústria]        [float] NOT NULL,"
"	[Agricola_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Agricola]       [float] NOT NULL,"
"	[Pecuario_Insumos]          [float] NOT NULL,"
"	[Pecuario_Agropecuária]     [float] NOT NULL,"
"	[Pecuario_Indústria]        [float] NOT NULL,"
"	[Pecuario_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Pecuario]       [float] NOT NULL")

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[PIB_Cepea_PIB]("
"	[ANO]						            [int] NOT NULL,"
"	[Agronegocio_Insumos]       [float] NOT NULL,"
"	[Agronegocio_Agropecuaria]  [float] NOT NULL,"
"	[Agronegocio_Industria]     [float] NOT NULL,"
"	[Agronegocio_Serviços]      [float] NOT NULL,"
"	[Total_Agronegócio]         [float] NOT NULL,"
"	[Agricola_Insumos]          [float] NOT NULL,"
"	[Agricola_Agropecuária]     [float] NOT NULL,"
"	[Agricola_Indústria]        [float] NOT NULL,"
"	[Agricola_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Agricola]       [float] NOT NULL,"
"	[Pecuario_Insumos]          [float] NOT NULL,"
"	[Pecuario_Agropecuária]     [float] NOT NULL,"
"	[Pecuario_Indústria]        [float] NOT NULL,"
"	[Pecuario_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Pecuario]       [float] NOT NULL")

In [ ]:
for index, row in df_pib_renda.iterrows():
     cursor.execute("INSERT INTO DesafioEF.PIB_Cepea_PIB_Renda (ANO,Agronegocio_Insumos,Agronegocio_Agropecuaria,Agronegocio_Industria,Agronegocio_Serviços,Total_Agronegócio,"
                                                                "   Agricola_Insumos,Agricola_Agropecuária,Agricola_Indústria,Agricola_Serviços,Total_Ramo_Agricola,"
                                                                "   Pecuario_Insumos,Pecuario_Agropecuária,Pecuario_Indústria,Pecuario_Serviços,Total_Ramo_Pecuario) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", 
                    row.ANO,row.Agronegocio_Insumos,row.Agronegocio_Agropecuaria,row.Agronegocio_Industria,row.Agronegocio_Serviços,row.Total_Agronegócio,
                            row.Agricola_Insumos,row.Agricola_Agropecuária,row.Agricola_Indústria,row.Agricola_Serviços,row.Total_Ramo_Agricola,
                            row.Pecuario_Insumos,row.Pecuario_Agropecuária,row.Pecuario_Indústria,row.Pecuario_Serviços,row.Total_Ramo_Pecuario)
dbconn.commit()

In [ ]:
for index, row in df_pib.iterrows():
     cursor.execute("INSERT INTO DesafioEF.PIB_Cepea_PIB (ANO,Agronegocio_Insumos,Agronegocio_Agropecuaria,Agronegocio_Industria,Agronegocio_Serviços,Total_Agronegócio,"
                                                          "   Agricola_Insumos,Agricola_Agropecuária,Agricola_Indústria,Agricola_Serviços,Total_Ramo_Agricola,"
                                                          "   Pecuario_Insumos,Pecuario_Agropecuária,Pecuario_Indústria,Pecuario_Serviços,Total_Ramo_Pecuario) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", 
                    row.ANO,row.Agronegocio_Insumos,row.Agronegocio_Agropecuaria,row.Agronegocio_Industria,row.Agronegocio_Serviços,row.Total_Agronegócio,
                            row.Agricola_Insumos,row.Agricola_Agropecuária,row.Agricola_Indústria,row.Agricola_Serviços,row.Total_Ramo_Agricola,
                            row.Pecuario_Insumos,row.Pecuario_Agropecuária,row.Pecuario_Indústria,row.Pecuario_Serviços,row.Total_Ramo_Pecuario)
dbconn.commit()

In [ ]:
cursor.close()
dbconn.close()