<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Ingestao_PIB_Cepea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# pip install pandera
import pandera as pa

In [19]:
pd.options.display.float_format = '{:.2f}'.format

In [20]:
# PIB-renda do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões de dez/2019
df_pib_renda = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 25, sheet_name='PIB', usecols='A:R')

In [21]:
df_pib_renda.columns=list(range(0,len(df_pib_renda.columns)))

In [22]:
df_pib_renda.drop(columns=[6,12],inplace=True)

In [23]:
df_pib_renda.rename(columns={0:"ANO",1:"Agronegocio_Insumos",2:"Agronegocio_Agropecuaria",3:"Agronegocio_Industria",4:"Agronegocio_Serviços",5:"Total_Agronegócio",
           7:"Agricola_Insumos",8:"Agricola_Agropecuária",9:"Agricola_Indústria",10:"Agricola_Serviços",11:"Total_Ramo_Agricola",	
           13:"Pecuario_Insumos",14:"Pecuario_Agropecuária",15:"Pecuario_Indústria",16:"Pecuario_Serviços",17:"Total_Ramo_Pecuario"},inplace=True)

In [24]:
df_pib_renda['ANO'] = df_pib_renda['ANO'].astype(str).apply(lambda x: x.replace('.0',''))

In [25]:
df_pib_renda.head(2)

    ANO  Agronegocio_Insumos  ...  Pecuario_Serviços  Total_Ramo_Pecuario
0  1996             31597.66  ...          192716.80            347188.33
1  1997             32826.00  ...          182271.67            330366.08

[2 rows x 16 columns]

In [26]:
#  PIB do Agronegócio Brasileiro, 1996 a 2019, em R$ Milhões correntes
df_pib = pd.read_excel('PIB_Cepea.xlsx', index_col = None, skiprows= 7, nrows= 36, sheet_name='PIB', usecols='A:AJ')

In [27]:
df_pib.columns=list(range(0,len(df_pib.columns)))

In [28]:
coluna = 1
while coluna <= 18:
  df_pib.drop(columns=[coluna],inplace=True)
  coluna += 1
df_pib.drop(columns=[24,30],inplace=True)

In [29]:
df_pib.rename(columns={0:"ANO",19:"Agronegocio_Insumos",20:"Agronegocio_Agropecuaria",21:"Agronegocio_Industria",22:"Agronegocio_Serviços",23:"Total_Agronegócio",
           25:"Agricola_Insumos",26:"Agricola_Agropecuária",27:"Agricola_Indústria",28:"Agricola_Serviços",29:"Total_Ramo_Agricola",	
           31:"Pecuario_Insumos",32:"Pecuario_Agropecuária",33:"Pecuario_Indústria",34:"Pecuario_Serviços",35:"Total_Ramo_Pecuario"},inplace=True)

In [30]:
df_pib.head(2)

    ANO  Agronegocio_Insumos  ...  Pecuario_Serviços  Total_Ramo_Pecuario
0  1996              6177.21  ...           37675.32             67873.86
1  1997              6913.34  ...           38387.46             69576.98

[2 rows x 16 columns]

In [31]:
df_pib.dtypes

ANO                          object
Agronegocio_Insumos         float64
Agronegocio_Agropecuaria    float64
Agronegocio_Industria       float64
Agronegocio_Serviços        float64
Total_Agronegócio           float64
Agricola_Insumos            float64
Agricola_Agropecuária       float64
Agricola_Indústria          float64
Agricola_Serviços           float64
Total_Ramo_Agricola         float64
Pecuario_Insumos            float64
Pecuario_Agropecuária       float64
Pecuario_Indústria          float64
Pecuario_Serviços           float64
Total_Ramo_Pecuario         float64
dtype: object

In [ ]:
### TO SQL
import pyodbc

In [ ]:
driver = 'SQL Server'
server = 'LOCALDB#A39D6D0C'
db = 'DesafioEF'
tcon = 'yes'
uname = 'sa'
pword = 'xxxxxxxxxx'

In [ ]:
dbconn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', host=server, database=db,
                      trusted_connection=tcon, user=uname, password=pword)

In [ ]:
cursor = dbconn.cursor()

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[PIB_Cepea_PIB_Renda]("
"	[ANO]						            [int] NOT NULL,"
"	[Agronegocio_Insumos]       [float] NOT NULL,"
"	[Agronegocio_Agropecuaria]  [float] NOT NULL,"
"	[Agronegocio_Industria]     [float] NOT NULL,"
"	[Agronegocio_Serviços]      [float] NOT NULL,"
"	[Total_Agronegócio]         [float] NOT NULL,"
"	[Agricola_Insumos]          [float] NOT NULL,"
"	[Agricola_Agropecuária]     [float] NOT NULL,"
"	[Agricola_Indústria]        [float] NOT NULL,"
"	[Agricola_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Agricola]       [float] NOT NULL,"
"	[Pecuario_Insumos]          [float] NOT NULL,"
"	[Pecuario_Agropecuária]     [float] NOT NULL,"
"	[Pecuario_Indústria]        [float] NOT NULL,"
"	[Pecuario_Serviços]         [float] NOT NULL,"
"	[Total_Ramo_Pecuario        [float] NOT NULL")

In [ ]:
cursor.execute(
"CREATE TABLE [dbo].[PIB_Cepea_PIB]("
"	[ANO]                         	[int] NOT NULL,"
"	[(A) Agronegócio Insumos]       [float] NOT NULL,"
"	[(B) Agronegócio Agropecuária]  [float] NOT NULL,"
"	[(C) Agronegócio Indústria]     [float] NOT NULL,"
"	[(D) Agronegócio Serviços]      [float] NOT NULL,"
"	[Agronegócio Total (A+B+C+D)] 	[float] NOT NULL,"
"	[(A) Agrícola Insumos]          [float] NOT NULL,"
"	[(B) Agrícola Agropecuária]     [float] NOT NULL,"
"	[(C) Agrícola Indústria]        [float] NOT NULL,"
"	[(D) Agrícola Serviços]         [float] NOT NULL,"
"	[Ramo Agrícola (A+B+C+D)]     	[float] NOT NULL,"
"	[(A) Pecuário Insumos]          [float] NOT NULL,"
"	[(B) Pecuário Agropecuária]     [float] NOT NULL,"
"	[(C) Pecuário Indústria]        [float] NOT NULL,"
"	[(D) Pecuário Serviços]         [float] NOT NULL,"
"	[Ramo Pecuário (A+B+C+D)]     	[float] NOT NULL")

In [ ]:
for index, row in df_pib_renda.iterrows():
     cursor.execute("INSERT INTO DesafioEF.PIB_Cepea_PIB_Renda (ANO,Agronegocio_Insumos,Agronegocio_Agropecuaria,Agronegocio_Industria,Agronegocio_Serviços,Total_Agronegócio,"
                                                                "   Agricola_Insumos,Agricola_Agropecuária,Agricola_Indústria,Agricola_Serviços,Total_Ramo_Agricola,"
                                                                "   Pecuario_Insumos,Pecuario_Agropecuária,Pecuario_Indústria,Pecuario_Serviços,Total_Ramo_Pecuario) values(?,?,?)", 
                    row.ANO,row.Agronegocio_Insumos,row.Agronegocio_Agropecuaria,row.Agronegocio_Industria,row.Agronegocio_Serviços,row.Total_Agronegócio,
                            row.Agricola_Insumos,row.Agricola_Agropecuária,row.Agricola_Indústria,row.Agricola_Serviços,row.Total_Ramo_Agricola,
                            row.Pecuario_Insumos,row.Pecuario_Agropecuária,row.Pecuario_Indústria,row.Pecuario_Serviços,row.Total_Ramo_Pecuario)
dbconn.commit()

In [ ]:
for index, row in df_pib.iterrows():
     cursor.execute("INSERT INTO DesafioEF.PIB_Cepea_PIB (ANO,Agronegocio_Insumos,Agronegocio_Agropecuaria,Agronegocio_Industria,Agronegocio_Serviços,Total_Agronegócio,"
                                                          "   Agricola_Insumos,Agricola_Agropecuária,Agricola_Indústria,Agricola_Serviços,Total_Ramo_Agricola,"
                                                          "   Pecuario_Insumos,Pecuario_Agropecuária,Pecuario_Indústria,Pecuario_Serviços,Total_Ramo_Pecuario) values(?,?,?)", 
                    row.ANO,row.Agronegocio_Insumos,row.Agronegocio_Agropecuaria,row.Agronegocio_Industria,row.Agronegocio_Serviços,row.Total_Agronegócio,
                            row.Agricola_Insumos,row.Agricola_Agropecuária,row.Agricola_Indústria,row.Agricola_Serviços,row.Total_Ramo_Agricola,
                            row.Pecuario_Insumos,row.Pecuario_Agropecuária,row.Pecuario_Indústria,row.Pecuario_Serviços,row.Total_Ramo_Pecuario)
dbconn.commit()

In [ ]:
cursor.close()
dbconn.close()