<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Quest%C3%A3o_3_Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pyodbc

In [ ]:
server = 'localhost' 
database = 'DesafioEF' 
username = 'datalake' 
password = 'xxxxxxxx'  

conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [ ]:
query = "SELECT * FROM Producao_2019;"
df = pd.read_sql(query, conn)

In [ ]:
# 3) Qual a média de produção mensal para o estado de São Paulo? 

df_SP_mensal_2019 = (df[df.UF == 'SAO PAULO']['ton_2019'])/12

In [ ]:
df_SP_mensal_Maio = df[df.UF == "SAO PAULO"]["ton_Maio"]

In [ ]:
df_SP_mensal_Junho = df[df.UF == "SAO PAULO"]["ton_Junho"]

In [ ]:
Media_Producao_SP = (df_SP_mensal_2019+df_SP_mensal_Maio+df_SP_mensal_Junho)/3
Media_Producao_SP = Media_Producao_SP.apply(lambda x: "{:_.2f}".format(x).replace('.', ',').replace('_', '.'))

In [ ]:
df['Producao Mensal (ton)'] = Media_Producao_SP
df[df.UF == 'SAO PAULO'][['UF','Producao Mensal (ton)']]

           UF Producao Mensal (ton)
24  SAO PAULO          6.785.375,89