<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Quest%C3%A3o_2_Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pyodbc

In [ ]:
server = 'localhost' 
database = 'DesafioEF' 
username = 'datalake' 
password = 'S@_admin12345'  

conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [ ]:
query = "SELECT * FROM Producao_2019;"
df = pd.read_sql(query, conn)

In [ ]:
# 2) Qual estado possui maior área produtiva?

In [ ]:
calculo_produtividade = df['ton_2019'] / df['HA_2019']
df['Calculo_Produtividade'] = calculo_produtividade
df_maior_produtor = df.groupby('UF')['Calculo_Produtividade'].max().reset_index().sort_values(['Calculo_Produtividade'], ascending=False).head(1)
df_maior_produtor['Calculo_Produtividade'] = df_maior_produtor['Calculo_Produtividade'].apply(lambda x: "{:_.2f}".format(x).replace('.', ',').replace('_', '.')) + ' ton/HA'

###### ###### ######  RESPOSTA: ###### ###### ###### 
df_maior_produtor

                 UF Calculo_Produtividade
6  DISTRITO FEDERAL           5,19 ton/HA

In [ ]:

calculo_produtividade_Maio = df['ton_Maio'] / df['HA_Maio']
df['Calculo_Produtividade_Maio'] = calculo_produtividade_Maio
df_maior_produtor_Maio = df.groupby('UF')['Calculo_Produtividade_Maio'].max().reset_index().sort_values(['Calculo_Produtividade_Maio'], ascending=False).head(1)
df_maior_produtor_Maio['Calculo_Produtividade_Maio'] = df_maior_produtor_Maio['Calculo_Produtividade_Maio'].apply(lambda x: "{:_.2f}".format(x).replace('.', ',').replace('_', '.')) + ' ton/HA'

###### ###### ######  RESPOSTA: ###### ###### ###### 
df_maior_produtor_Maio

                 UF Calculo_Produtividade_Maio
6  DISTRITO FEDERAL                5,32 ton/HA

In [ ]:
calculo_produtividade_Junho = df['ton_Junho'] / df['HA_Junho']
df['Calculo_Produtividade_Junho'] = calculo_produtividade_Junho
df_Junhor_produtor_Junho = df.groupby('UF')['Calculo_Produtividade_Junho'].max().reset_index().sort_values(['Calculo_Produtividade_Junho'], ascending=False).head(1)
df_Junhor_produtor_Junho['Calculo_Produtividade_Junho'] = df_Junhor_produtor_Junho['Calculo_Produtividade_Junho'].apply(lambda x: "{:_.2f}".format(x).replace('.', ',').replace('_', '.')) + ' ton/HA'

###### ###### ######  RESPOSTA: ###### ###### ###### 
df_Junhor_produtor_Junho

                 UF Calculo_Produtividade_Junho
6  DISTRITO FEDERAL                 5,33 ton/HA