<a href="https://colab.research.google.com/github/allysonbueno/ef_test/blob/main/Quest%C3%A3o_1_Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# pip install pyodbc
import pyodbc

In [ ]:
server = 'localhost' 
database = 'DesafioEF' 
username = 'datalake' 
password = 'xxxxxxxxxxx'

In [ ]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [ ]:
query = "SELECT * FROM Producao_2019;"
df = pd.read_sql(query, conn)

In [ ]:
totalHectare = df['HA_2019'].sum()
totalHectareMaio = df['HA_Maio'].sum()
totalHectareJunho = df['HA_Junho'].sum()
totalToneladas = df['ton_2019'].sum()
totalToneladasMaio = df['ton_Maio'].sum()
totalToneladasJunho = df['ton_Junho'].sum()

In [ ]:
filtroCentroOeste = df.UF.str.contains('DISTRITO FEDERAL|GOIAS|MATO GROSSO|MATO GROSSO DO SUL')
dfCentroOeste = df.loc[filtroCentroOeste]

In [ ]:
# 1) Qual a porcentagem de participação da região Centro-Oeste na produção nacional no primeiro semestre de 2019?
totalHA_CO = dfCentroOeste['HA_2019'].sum()
totalHAMaio_CO = dfCentroOeste['HA_Maio'].sum()
totalHAJunho_CO = dfCentroOeste['HA_Junho'].sum()
totalTon_CO = dfCentroOeste['ton_2019'].sum()
totalTonMaio_CO = dfCentroOeste['ton_Maio'].sum()
totalTonJunho_CO = dfCentroOeste['ton_Junho'].sum()

In [ ]:
perc_HA_CO = (totalHA_CO / totalHectare) * 100
perc_HA_Maio_CO = (totalHAMaio_CO / totalHectareMaio) * 100
perc_HA_Junho_CO = (totalHAJunho_CO / totalHectareJunho) * 100
perc_ton_CO = (totalTon_CO / totalToneladas) * 100
perc_ton_Maio_CO = (totalTonMaio_CO / totalToneladasMaio) * 100
perc_ton_Junho_CO = (totalTonJunho_CO / totalToneladasJunho) * 100

In [ ]:
df_percMaioEJunhoCO = pd.DataFrame({ 
    'Perc_Hectares_2019_Centro_Oeste':[perc_HA_CO],
    'Perc_Hectares_Maio_Centro_Oeste':[perc_HA_Maio_CO],
    'Perc_Hectares_Junho_Centro_Oeste':[perc_HA_Junho_CO],  
    'Perc_Toneladas_2019_Centro_Oeste':[perc_ton_CO],
    'Perc_Toneladas_Maio_Centro_Oeste':[perc_ton_Maio_CO],
    'Perc_Toneladas_Junho_Centro_Oeste':[perc_ton_Junho_CO],
})
df_percMaioEJunhoCO

,Perc_Hectares_2019_Centro_Oeste,Perc_Hectares_Maio_Centro_Oeste,Perc_Hectares_Junho_Centro_Oeste,Perc_Toneladas_2019_Centro_Oeste,Perc_Toneladas_Maio_Centro_Oeste,Perc_Toneladas_Junho_Centro_Oeste
0,42.610034,42.690571,42.61801,46.183981,47.18777,46.795827

In [ ]:
df_percMaioEJunhoCO['Participacao_Primeiro_Semestre_Centro_Oeste'] = df_percMaioEJunhoCO[['Perc_Hectares_Maio_Centro_Oeste','Perc_Hectares_Junho_Centro_Oeste']].mean(axis=1)

In [ ]:
###### ###### ######  RESPOSTA: ###### ###### ###### 
df_percMaioEJunhoCO[['Participacao_Primeiro_Semestre_Centro_Oeste']]

   Participacao_Primeiro_Semestre_Centro_Oeste
0                                    42.654291